.imageContainer {
  height: calc((((1500px - 160px) / 5) * 1.5));
  position: relative;
  /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  background-color: grey;
}

@media (max-width: 1000px) {
  .imageContainer {
    height: calc((100vw - 64px));
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}

@media (max-width: 1000px) {
  .imageContainer {
    height: calc((((100vw - 102px) / 2) / 3) * 3);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}
