.imageContainer {
  height: calc((((100vw - 1300px) / 5)));
  /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  background-color: grey;
}

@media (max-width: 1600px) {
  .imageContainer {
    height: calc((((100vw - 118px) / 5) / 3) * 3);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}

@media (max-width: 1200px) {
  .imageContainer {
    height: calc((((100vw - 102px) / 4) / 3) * 3);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}

@media (max-width: 1100px) {
  .imageContainer {
    height: calc((((100vw - 186px) / 3) / 3) * 3);
    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}

@media (max-width: 778px) {
  .imageContainer {
    height: calc((((100vw - 82px) / 2) / 3) * 3);

    /* (total view width / amount of padding total (container + total gap)) / amount of col - 3 * 2) */
  }
}
