.container {
  background-color: var(--white);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: var(--fontMinus1);
}

.dark {
  background-color: var(--black);
}

.container:hover {
  background-color: var(--hoverGrey);
}
