.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 40px 0;
  background-color: green;
  width: var(--max-width);
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.pagesContainer {
  display: flex;
  gap: 40px;
}

.pagesContainer {
  font-size: var(--fontMinus1);
}

.nav a {
  text-decoration: none;
  color: var(--black);
}

.logo {
  font-size: var(--fontPlus2);
}
