.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 40px;
}

@media (max-width: 1500px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (max-width: 778px) {
  .main {
    gap: 8px;
  }
}
